<ion-header>
  <ion-toolbar color="dark">
    <ion-title >
      Optical Character Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

  <ion-card>
    <ion-card-content>
        <ion-img [src]="selectedImage"></ion-img>
    </ion-card-content>
   
  </ion-card>
  <div id="cameraPreview"></div>

  <ion-card *ngIf="imageText">
    <ion-card-header>
      Image Text
    </ion-card-header>
    <ion-card-content>
      <ion-textarea>
      {{ imageText }}
    </ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="selectedImage != 'assets/image/start.png'" expand="block"  color="success" (click)="Details()">Check Details</ion-button>
</ion-content>
<ion-footer >
  <ion-toolbar color="light">
      <ion-button *ngIf="selectedImage == 'assets/image/start.png'" expand="block" color="dark" (click)="onPickImage()">Pick Image</ion-button>
      <ion-button *ngIf="selectedImage != 'assets/image/start.png'"  expand="block"  color="danger" (click)="onDelImage()">Delete Image</ion-button>
  </ion-toolbar>
</ion-footer>
